<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group" 
    [ngClass]="{invalid: form.get('name').touched && form.get('name').invalid}">
        <label for="name">Ім'я користовача</label>
        <input class="form-control"id="name" type="text" formControlName="name">
        <div *ngIf="form.get('name').touched && form.get('name').invalid"
        class="validation">
            <small *ngIf="form.get('name').errors.required">
            Введіть ім'я користовача
            </small>
        </div>
    </div>
    <div class="form-group" 
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}">
        <label for="email">Введіть ваш email:</label>
        <input class="form-control" id="email" type="text" formControlName="email">
        <div *ngIf="form.get('email').touched && form.get('email').invalid"
        class="validation">
            <small *ngIf="form.get('email').errors.required">
            Введіть email
            </small>
        </div>
    </div>
    <div class="form-group" 
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}">
        <label for="password">Введіть ваш пароль:</label>
        <input class="form-control" id="password" type="password" formControlName="password">
        <div *ngIf="form.get('password').touched && form.get('password').invalid"
        class="validation">
            <small *ngIf="form.get('password').errors.required">
            Введіть пароль
            </small>
        </div>
    </div>
    <div class="form-group" 
    [ngClass]="{invalid: form.get('age').touched && form.get('age').invalid}">
        <label for="age">Скільки вам років?:</label>
        <input class="form-control" id="age" type="text" formControlName="age">
        <div *ngIf="form.get('age').touched && form.get('age').invalid"
        class="validation">
            <small *ngIf="form.get('age').errors.required">
            Введіть age
            </small>
        </div>
    </div>
    <div class="form-group">
        <span><a [routerLink]="['/user','login']">Уже зареєстровані?</a></span>
    </div>
   <button
    type="submit"
    class="btn btn-block btn-success"
    [disabled]="form.invalid"
   >Submit</button>
</form> 